@page
@model ComandoModel
@{
}


<div class="container">
    <div class="container">
        <h2>Comando para mover o carro</h2>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="comando" name="comando" placeholder="Comando" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" onclick="comandar()">Enviar Comando</button>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="resultado" name="resultado" placeholder="Resultado" />
            </div>
        </form>
    </div>
</div>

<script>
    function comandar() {
    let comando = document.querySelector("#comando");
    $.getJSON("http://cursos.somee.com/api/cmd?usuario=Joab&dado=" + comando.value,
        function (resp) {
            if (resp.value == "OK") {
                document.querySelector("#resultado").value = resp.value;

            } else {
                document.querySelector("#resulta").value = "Não executou";
            }
        });
    }
</script>